.el-form-item {
    label {
        color: #fff;
    }
}

.el-button {
    width: 100%;
}

.el-table .cell {
    text-align: right;
    padding-right: 10px;
}

.el-select-dropdown__item {
    text-align: right;
}

.el-table td.el-table__cell div {
    color: #000
}

.el-table--fit {
    border-radius: 0 0 10px 10px;
}

.el-drawer.ltr {
    border-top-right-radius: 20px;
    color: #000;
    border-bottom-right-radius: 20px;
}

.el-drawer__header {
    border-bottom: 1px solid #ddd;
    padding-bottom: 20px !important;
    margin-bottom: 0 !important;
}

.el-drawer .el-icon svg {
    color: #5c50b7;
}

[opos-color="primary"] label {
    color: #000 !important
}

[opos-color="primary"] {
    .el-select {
        width: 100%;
    }

    .el-form {
        height: 100%;
        display: flex;
        flex-direction: column;
    }
}

.--auto-top {
    margin-top: auto;
}

[button-color="primary"] {
    background-color: #5c50b7;
    color: #fff ;
    &:hover{
        color: #5c50b7;
    } 
}